- name: "Existe? [ {{ user_to_check}} ]"
  when: conntest.rowcount|int > 0
  community.postgresql.postgresql_query:
    query: "SELECT 1 FROM pg_roles WHERE rolname = %(u)s"
    named_args: { u: "{{ user_to_check }}" }
  register: result_exists

- name: "Gravar resultado em user_checks[{{ user_to_check }}]"
  ansible.builtin.set_fact:
    user_checks: "{{ user_checks | default({}) | combine({ (user_to_check): { 'exists': (result_exists.rowcount | int > 0), 'rowcount': (result_exists.rowcount | int), 'raw': result_exists } }) }}"
