- name: "[powertuning] Existe?"
  when: conntest.rowcount|int > 0
  community.postgresql.postgresql_query:
    query: "SELECT 1 FROM pg_roles WHERE rolname = %(u)s"
    named_args: { u: "{{ user_to_check }}" }
  register: pt_exists
